<div class="w-full flex flex-col p-2 border-2 border-slate-700 bg-slate-100 rounded-xl transition-transform hover:scale-105 shadow">
  <div class="flex gap-1">
    <span>نام:</span>
    <span>{{ category.name }}</span>
  </div>
  <div class="flex gap-1">
    <span>شناسه:</span>
    <span>{{ category.slug }}</span>
  </div>
  <div class="flex gap-3 text-sm mt-2 ">
    <button
      (click)="deleteHandler()"
      class="flex-1 border-2 rounded-lg hover:font-light transition-all text-red-600 border-red-600  bg-red-50 hover:bg-red-600 hover:text-white hover:scale-105 ">
      حذف
    </button>
    <button
      (click)="showEditModal()"
      class="flex-1 py-0.5 border-2 rounded-lg hover:font-light transition-all  text-slate-700 border-slate-700  hover:bg-slate-700 hover:text-white hover:scale-105 ">
      ویرایش
    </button>
  </div>

</div>
@if (showEditModalSignal()){
  <app-category-modal (categoryReset)="categoryEdited()" type="edit" [category]="category" [showSignal]="showEditModalSignal" ></app-category-modal>
}
